/* Add CSS Styling */
.odd {
    background-color: #edacf5;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.cooler {
    font-size: 24px;
}

#second {
    color: #2153cf;
    font-size: 36px;
}

#fourth {
    font-size: 24px;
    background-color: #aeeaaf;
    font-weight: bold;
}