body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 400px;
  background: #fff;
  padding: 10px;
  margin: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  font-size: 16px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

button {
  background: white;
  height: auto;
  width: 100px;
  border: 1px solid #eee;
  display: block;
  margin: auto;
}